*~
.DS_Store

node_modules/*
typings/*

# Note that some folders, like log, have their own .gitignore file,
# e.g., (for the log folder case) to ensure that the folder is checked
# into Git minus any of its contents (other than the .gitignore file)


